@use '../../../../styles.scss' as styles;

.button {
  display: inline-block;
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  border: 2px solid;

  &.button-primary {
    background-color: var(--rosso-retro);
    color: var(--crema-polaroid);
    border-color: var(--marrone-mogano);

    &:hover {
      background-color: color-mix(in srgb, styles.$rosso-retro 90%, black 10%);
    }

    &:active {
      background-color: color-mix(in srgb, styles.$rosso-retro 85%, black 10%);
      transform: scale(0.98);
    }
  }

  &.button-secondary {
    background-color: var(--blu-petrolio);
    color: var(--crema-polaroid);
    border-color: var(--verde-oliva);

    &:hover {
      background-color: color-mix(in srgb, styles.$blu-petrolio 90%, black 10%);
    }

    &:active {
      background-color: color-mix(in srgb, styles.$blu-petrolio 85%, black 10%);
      transform: scale(0.98);
    }
  }

  &.button-error {
    background-color: var(--giallo-senape);
    color: var(--nero-vinile);
    border-color: var(--marrone-mogano);

    &:hover {
      background-color: color-mix(in srgb, styles.$giallo-senape 90%, black 10%);
    }

    &:active {
      background-color: color-mix(in srgb, styles.$giallo-senape 85%, black 10%);
      transform: scale(0.98);
    }
  }

  &:disabled {
    background-color: var(--nero-vinile);
    color: var(--verde-oliva);
    cursor: not-allowed;
    background-color: color-mix(in srgb, styles.$nero-vinile 90%, white 10%);
  }
}


  