<div class="input-container">
  <label *ngIf="label" [for]="name" class="input-label">{{ label | translate  }}</label>
  <input [type]="type" [id]="name" [name]="name" [value]="value" [placeholder]="placeholder | translate " [disabled]="disabled"
    [required]="required" [attr.aria-label]="ariaLabel| translate " [attr.aria-describedby]="ariaDescribedby"
    [attr.aria-invalid]="ariaInvalid" (input)="onInputChange($event)"  class="custom-input" />
  <!-- Messaggio di errore -->
   <ng-container *ngIf="showErrorMessageSignal()">
    <p  class="error-message">{{ errorMessage ?? 'error' | translate }}</p>
   </ng-container>
</div>