$nero-vinile: #2C2C2C;
$crema-polaroid: #F5E1C8;
$rosso-retro: #9E2A2B;
$verde-oliva: #6A7F60;
$blu-petrolio: #2F4858;
$marrone-mogano: #704214;
$giallo-senape: #D4A537;

:root {
  --nero-vinile: #2C2C2C;
  --crema-polaroid: #F5E1C8;
  --rosso-retro: #9E2A2B;
  --verde-oliva: #6A7F60;
  --blu-petrolio: #2F4858;
  --marrone-mogano: #704214;
  --giallo-senape: #D4A537;
}

