<div class="search-box container my-3">
  <form [formGroup]="myForm">
    <app-input formControlName="search" [id]="searchInputConfig.id ?? ''" [name]="searchInputConfig.name ?? ''"
      [type]="searchInputConfig.type ?? ''" [label]="searchInputConfig.label ?? ''"
      [placeholder]="searchInputConfig.placeholder ?? ''" [disabled]="searchInputConfig.disabled ?? false"
      [readonly]="searchInputConfig.readonly ?? false" [required]="searchInputConfig.required ?? false"
      (inputChange)="_handleinputChange($event)" [ariaLabel]="searchInputConfig.ariaLabel ?? ''">

    </app-input>
    <!-- FORM FOOTER SECTION -->
    <div class="row d-flex justify-content between my-3">
      <div class="col-12 col-md-6">
        <app-button [type]="resetFormButtonConfig.type" [color]="resetFormButtonConfig.color"
          [label]="resetFormButtonConfig.label" [ariaLabel]="resetFormButtonConfig.ariaLabel"
          [id]="resetFormButtonConfig.id">
        </app-button>
      </div>
      <div class="col-12 col-md-6 text-md-end">
        <app-button [type]="submitFormButtonConfig.type" [disabled]="!myForm.valid"
          [color]="submitFormButtonConfig.color" [label]="submitFormButtonConfig.label"
          [ariaLabel]="submitFormButtonConfig.ariaLabel" [id]="submitFormButtonConfig.id" (onClick)="getVinyl($event)">
        </app-button>
      </div>
    </div>
  </form>
</div>
<ng-container *ngIf="vinyls.length > 1">
  <h1>Lista vinili</h1>
  <div class="vinyl-grid">
    <div *ngFor="let vinyl of vinyls" class="vinyl-item">
      <a [routerLink]="['/vinyl', vinyl.id]">
        <img [src]="vinyl.cover_image || 'https://via.placeholder.com/150'" [alt]="vinyl.title">
        <h3>{{ vinyl.title }}</h3>
        <p>{{ vinyl.artist }}</p>
      </a>
    </div>
  </div>


</ng-container>