/* Palette di colori */
// $blue-night: #1e2a47;
// $electric-purple: #8e44ad;
// $lemon-yellow: #f1c40f;
// $warm-orange: #e67e22;
// $smoke-gray: #7f8c8d;
// $pure-white: #ffffff;
// $mint-green: #2ecc71;

@use '../../../styles/styles.scss' as styles;

/* Stile principale per il componente LanguageSwitcher */
.language-switcher {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   margin-top: 20px;
//   background-color: $blue-night;
//   padding: 15px;
//   border-radius: 8px;

  select {
    background-color: var(--crema-polaroid);
    color: var(--nero-vinile);
    border: 2px solid var(--marrone-mogano);
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;

    &:focus {
        border-color: var(--rosso-retro);
    }
  }

  /* Etichetta per il select */
  label {
    color: var(--marrone-mogano);
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
  }
}
