<ng-container *ngIf="dataReady">
  <div class="language-switcher">
    <label for="language-select">{{ 'SHARED:LANGUAGE-SWITCHER:label--message' | translate }}</label>
    <select 
      id="language-select" 
      #languageSelect
      [attr.aria-label]="('SHARED:LANGUAGE-SWITCHER:label--message' | translate)"
      role="combobox"
      aria-haspopup="listbox"
      [attr.aria-expanded]="isSelectOpen ? 'true' : 'false'"
      [(ngModel)]="selectedLang" 
      (ngModelChange)="onLanguageChange($event)"
      (focus)="onFocus(languageSelect)"
      (blur)="onBlur(languageSelect)">
      <option *ngFor="let lang of languages" 
        [value]="lang.optionValue"
        [attr.aria-selected]="lang.optionValue === selectedLang ? 'true' : 'false'">
        {{ lang.label | translate }}
      </option>
    </select>
  </div>
</ng-container>

  